<div class="tabContentContainer">
    <BR>
    <h5>@ngui/tab (need on app.module.ts: import NguiTabModule from '@ngui/tab')</h5>
    <BR>
<!--
    <div>
        <tabset>
            <tab heading="Static title" id="tab1">Static content</tab>
            <tab heading="Static Title 1">Static content 1</tab>
            <tab heading="Static Title 2">Static content 2</tab>
            <tab (select)="alertMe()">
            <ng-template tabHeading>
                <span class="badge badge-secondary">Click here!</span>
            </ng-template>
            I've got an HTML heading, and a select callback. Pretty cool!
            </tab>
        </tabset>
    </div>
    
-->    
<!--
    <ngui-tab
        selected="js"
        selected-index-class="selected"
        selected-contents-class="fadeIn animated">
        <div class="tabs">
            <div index="bootstrap">Bootstrap</div>  
            <div index="ng4-material">ng4-material</div>
            <div index="jqwidgets">jQWidgets</div>
        </div>
        <div class="tab-contents">
            <div contents="bootstrap">
                <selector-bootstrap></selector-bootstrap>
            </div>
            <div contents="ng4-material">npm install @angular/material --save</div>
            <div contents="jqwidgets">
                <br>For Angular: https://www.jqwidgets.com/angular/
                <br>For React: https://www.jqwidgets.com/react/
            </div>
        </div>
    </ngui-tab>
-->
</div>